{% extends 'f1dataapp/base.html' %}

{% block tituloPagina %} F1 Data - Driver speed lap {% endblock %}

{% block contenido %}
<main role="main">
    <div class="container">
        <h1 class="text-center page-title" style="margin-top: 1rem; margin-bottom: 1rem;">Driver Speed</h1>
        <form action="" method="post" class="text-center">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
                <input type='submit' value='Generate Chart' class="btn btn-primary"/>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-5">
            <div class="row">
                <div class="col-md-12">
                    <img src="data:image/png;base64,{{ chart_speed }}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="data:image/png;base64,{{ chart_gears }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}